<template>
    <div>
        <p class="desc">{{ item.name }}</p>
        <input class="input"  v-model="value" type="text" :readonly="readOnly" required>
        <p class="valid-msg" v-if="item.required && !value &&!readOnly">Обязательное поле</p>
        <p class="valid-msg" v-if="status == false&&!readOnly">Только цифры и не больше {{ item.maxL }}</p>
    </div>
</template>
<script>
export default {
    props:['item','preValue','readOnly'],
    data(){
        return {
            value:'',
            status:'',
        }
    },
    created(){
        if(this.preValue){
            this.value =  this.preValue
        } 
    },
    watch:{
        value(val){
            const num = new RegExp(/[0-9]/)
            if(val && num.test(val) && val <= this.item.maxL){
                this.status = true
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save: true,
                }
                if(this.item.setIF) res.setIF = val
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
            } else {
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save: false,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
                this.status = false
            }
        },
    }
}
</script>

<style scoped>
.desc{
    color: #107B7B;
    margin: 10px;
}
.input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
    color:#107B7B;
}
.valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
</style>