<template>
    <div>
        <p class="desc">{{ item.name }}</p>
        <textarea class="input"  cols="30" rows="10" :readonly="readOnly"  v-model="value" type="text" required></textarea>
        <p class="valid-msg" v-if="item.required && !value&&!readOnly">Обязательное поле</p>
    </div>
</template>

<script>
export default {
    props:['item','preValue','readOnly'],
    data(){
        return {
            value:'',
            status:'',
        }
    },
    created(){
        // console.log(localStorage)
        // console.log(JSON.parse(localStorage[this.dataName]),this.item.data)
        if( this.preValue){
            this.value =  this.preValue
        } 
        // console.log(this.value)
    },
    watch:{
        value(val){
            if(val){
                this.status = true
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save:true,
                }
                if(this.item.setIF) res.setIF = val
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
            } else {
                const res = {
                    value: this.value,
                    key: this.item.data,
                    save: false,
                }
                if(this.item.required) res.required = true
                this.$emit('set-val',res)
                this.status = false
            }
        },
    }
}
</script>

<style scoped>
.desc{
    color: #107B7B;
    margin: 10px;
}
.input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
    color:#107B7B;
}
.valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
</style>