<template>
    <div :style="'height:'+$store.state.height-70+'px;'" class="cabinet-container">
        <div class="card-cont" >
            <UserCard v-if="activeUser" :user="activeUser" />
        </div>
    </div>
</template>

<script>
import UserCard from '../components/userCard.vue'
import { getUser } from '@/server/get'
import {createdRefresh} from '@/functions/createdRefresh'
export default {
    components:{UserCard},
    data(){
        return {
            activeUser:'',
        }
    },
    async created(){
        console.log(true)
        try{
            await createdRefresh()
            console.log(this.$store.state.user)
            this.activeUser = Object.assign(this.$store.state.user, await getUser(this.$store.state.user.id,this.$store.state.user.role)); 
            console.log(this.activeUser)
        } catch(e){
            console.log(e)
            this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
        }
    }
}
</script>

<style scoped>
.cabinet-container{
    padding: 30px 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;

}
.card-cont{
    width: 50%;
}
@media  (width < 700px){
    .card-cont{
        width: 100%;  
    }
    .cabinet-container{
        padding:0;
    }
}
</style>