<template>
    <div :style="'height:'+$store.state.height-70+'px;'" class="create-help-container">
        <div class="create-help">
            <div class="create-help-select">
                <p class="auth-desc">Тип заявки</p>
                <select class="help-select" style="color:#107B7B;"  v-model="helpSelected" >
                    <option style="color:#107B7B;" v-for="help in helps" :value="help"  :key="help.name">
                        {{ help.name }}
                    </option>
                </select>
            </div>
            <HelpForm v-if="helpSelected && show" @saved="helpSelected=''" :meta="helpSelected" :key="helpSelected.name" />
            <!-- <div class="create-help-form"></div> -->
        </div>
    </div>
</template>

<script >
import {requests} from '../constans/requests'
import HelpForm from '../components/helpForm.vue'
import {createdRefresh} from '@/functions/createdRefresh'
export default {
    async created(){
        this.helps = requests
        try{
            await createdRefresh()
        } catch {
            console.log(e)
        }
    },
    components:{HelpForm},
    data(){
        return {
            helps:[],
            helpSelected:'',
            show:false,
        }
    },
    mounted(){
        console.log(true)
    },
    watch:{
        helpSelected(){
            this.show = false
            this.show = true
        } 
    }
}
</script>

<style  scoped>
.help-select{
    width: 98%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.create-help-container{
    padding: 30px 60px 0 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    height: 100%;

}
.create-help{
    padding-top: 40px;
    height: 100%;

}
</style>