<template>
    <div class="page-container">
        <tableNavigation @active-table="(val)=>activeTable = val" />
        <div class="table-block">
           
            <div style="height: 100%;width: 60%;">
                <tableHeaderAction :OPTIONS="OPTIONS" />
                <tableHelp  @open-help="(data)=> openedCard(data)" v-if="HELPS[0]" :HELPS="HELPS" :tableType="activeTable" />
            </div>
            <div style="height: 100%;width: 40%;">
                <cardHelp v-if="watchActiveHelp" :key="watchActiveHelp.id" :help="watchActiveHelp" />
            </div>
        </div>
    </div>
</template>

<script >
import {createdRefresh} from '@/functions/createdRefresh'
import {getAllMenHelps,getHelp} from '@/server/get'
import tableNavigation from '@/components/table-components/tableNavigation.vue'
import tableHeaderAction from '@/components/table-components/tableHeaderAction.vue'
import tableHelp from '@/components/table-components/tableHelp.vue'
import cardHelp from '@/components/table-components/cardHelp.vue'
export default {
    components:{tableNavigation, tableHeaderAction, tableHelp,cardHelp},
    data(){
        return {
            HELPS:[],
            OPTIONS:{
                dates:'',
            },
            activeTable:'',
            activeHelp:''
        }
    },
    async created(){
        try{
            await createdRefresh()
        } catch {
            console.log(e)
        }
        this.HELPS =  await getAllMenHelps()
    },
    computed:{
        watchActiveHelp(){
            return  this.activeHelp
        }
    },
    methods:{
        async openedCard(data){
            this.activeHelp = undefined
            this.activeHelp = data
            console.log(data)
            
        }
    },
    mounted(){
        console.log(true)
    }
}
</script>

<style  scoped>
.table-block{
    background-color: white;
    width: 90%;
    z-index: 10;
    height: 95%;
    display: flex;
}
.page-container{
    height: 100%;
    width: 100%;
    display: flex;
    background-color: white;
}
</style>