<template>
    <div class="users-container">
        <div class="users-panel">
            <div class="users-choice-btn" @click="windowMode = 'create'"  :style="windowMode === 'create' ? 'background-color:#107B7B' : 'background-color:white'">
                <p style="margin: 0;" :style="windowMode === 'create' ? 'color:white;' : 'color:#107B7B;'">Создать пользователя</p>
            </div>
            <div class="users-choice-btn" @click="windowMode = 'look'" :style="windowMode === 'look' ? 'background-color:#107B7B' : 'background-color:white'">
                <p style="margin: 0;" :style="windowMode === 'look' ? 'color:white;' : 'color:#107B7B;'">Просмотр пользователей</p>
            </div>
        </div>
        <div class="users-window">
            <div v-if="windowMode==='create'">
                <NewUser />
            </div>
            <div v-if="windowMode==='look'">
                <ViewUsers />
            </div>
        </div>
    </div>
</template>

<script >
import NewUser from '../components/createNewUser.vue'
import ViewUsers from '../components/viewUsers.vue'
import {createdRefresh} from '@/functions/createdRefresh'
export default {
    async created(){
        try{
            await createdRefresh()
        } catch {
            console.log(e)
        }
    },
    components:{ NewUser, ViewUsers},
    data(){
        return {
            windowMode:'',

        }
    },
}
</script>

<style scoped>
.users-choice-btn{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.users-container{
    height: 100%;
    width: 100%;
    /* padding-top: 65px; */
    display: flex;
    background-color: white;
}
.users-panel{
    background-color: white;
    width: 20%;
    z-index: 100;
    height: 100%;
    border-right: 3px solid #107B7B;
}
.users-window{
    width: 80%;
    height: 100%;
}
</style>