<template>
    <div>
        <div>
            <p class="auth-desc">Логин</p>
            <input class="auth-input" placeholder="Логин" type="text" v-model="username.value" required>
            <p class="auth-valid-msg" v-if="username.value&&username.value.length<5">Минимальное колличество символов 5</p>
            <p class="auth-valid-msg" v-if="!username.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Пароль</p>
            <input class="auth-input" placeholder="Пароль" v-model="password.value" type="password" required>
            <p class="auth-valid-msg" v-if="!password.value">Обязательное поле</p>
            <p class="auth-valid-msg" v-if="password.value!=checkPassword.value" >Пароли не совпадают</p>
            <p class="auth-valid-msg" v-if="password.status === false">Минимальная длина пароля 8 символов с минимум одной буквой и цифрой</p>
        </div>
        <div>
            <p class="auth-desc">Повторите пароль</p>
            <input class="auth-input" placeholder="Повторите пароль" v-model="checkPassword.value" type="password" required>
            <p class="auth-valid-msg" v-if="!checkPassword.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Имя</p>
            <input class="auth-input" placeholder="Имя" v-model="first_name.value" type="text" required>
            <p class="auth-valid-msg" v-if="!first_name.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Фамилия</p>
            <input class="auth-input" placeholder="Фамилия" v-model="last_name.value" type="text" required>
            <p class="auth-valid-msg" v-if="!last_name.value">Обязательное поле</p>
        </div>
        <div>
            <p class="auth-desc">Телефон</p>
            <input class="auth-input" placeholder="Телефон" v-model="phone.value" type="tel" pattern="^[0-9]{3,45}$"  required>
            <p class="auth-valid-msg" v-if="!phone.value">Обязательное поле</p>
            <p class="auth-valid-msg" v-if="phone.status === false">Номер должен содержать минимум 7 цифр</p>
        </div>
        <div>
            <p class="auth-desc">Роль</p>
            <select class="auth-select" style="color: black;"  v-model="role.value" >
                <option style="color: black;" v-for="rol in Roles" :value="rol" :key="rol">
                    {{ rol }}
                </option>
            </select>
        </div>
        <div >
            <div class="btn-group" v-if="checkStatus">
                <div class="auth-btn" style="margin: 5px;" @click="createUser()">
                    <p style="color:white;font-weight: 500;font-size: 16px;line-height: 19px;">Создать</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import {roles} from '../constans/roles'
import {createUser} from '../server/posts'
export default {
    methods:{
        async createUser(){
            this.$store.state.loader = true
            try{
                let keys = Object.keys(this.Roles)
                let role;
                for(let i = 0;i<keys.length;i++){
                    if(this.Roles[keys[i]] === this.role.value) role = keys[i]
                }
               
                const data = {
                    role: role,
                    first_name:this.first_name.value,
                    last_name: this.last_name.value,
                    username:this.username.value,
                    password: this.password.value,
                    phone: this.phone.value
                }
                console.log(data)
                let result = await createUser(data)
                if(result){
                    this.username.status = '' 
                    this.password.status = ''
                    this.checkPassword.status = ''
                    this.first_name.status = ''
                    this.last_name.status = ''
                    this.role.status = ''
                    this.phone.status = ''
                    this.phone.value = '' 
                    this.username.value = '' 
                    this.password.value = ''
                    this.checkPassword.value = ''
                    this.first_name.value = ''
                    this.last_name.value = ''
                    this.role.value = ''
                    this.$store.commit('addNotifyAcc','Пользователь успешно создан')
                } else {
                    this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
                }

            } catch(e){
                this.$store.commit('addNotifyErr','Что то пошло не так, повторите попытку или обратитесь к администратору')
            }
           
            this.$store.state.loader = false
        },
    },
    created(){
        this.Roles = roles
    },
    computed:{
        checkStatus(){
            if(
                this.username.status === true &&
                this.password.status === true &&
                this.checkPassword.status === true &&
                this.first_name.status === true &&
                this.last_name.status === true &&
                this.role.status === true
            ){
                return true
            } else {
                return false
            }
        }
    },  
    data(){
        return {
            Roles:'',
            username:{
                value:'',
                status:'',
            },
            password:{
                value:'',
                status:'',
            },
            checkPassword:{
                value:'',
                status:'',
            },
            first_name:{
                value:'',
                status:'',
            },
            last_name:{
                value:'',
                status:'',
            },
            phone:{
                value:'',
                status:'',                
            },
            role:{
                value:'',
                status:'',
            },
        }
    },
    watch:{
        'phone.value'(val){
            const num = new RegExp(/[0-9]/)
            const cyr = new RegExp(/[а-яА-ЯЁё]/)
            const lat = new RegExp(/[a-z-A-Z]/)
            if(val  && num.test(val) && !cyr.test(val) && !lat.test(val) && val.length >= 7){
                this.phone.status = true
            } else {
                this.phone.status = false
            }
        },
        'role.value'(val){
            if(val){
                this.role.status = true
            } else {
                this.role.status = false
            }
        },
        "first_name.value"(val){
            if(val){
                this.first_name.status = true
            } else {
                this.first_name.status = false
            }
        },
        "last_name.value"(val){
            if(val){
                this.last_name.status = true
            } else {
                this.last_name.status = false
            }
        },
        "username.value"(val){
            if(val.length&&val.length>=5){
                this.username.status = true
            }
        },
        "password.value"(val){
            const cyr = new RegExp(/[а-яА-ЯЁё]/)
            const lat = new RegExp(/[a-z-A-Z]/)
            const num = new RegExp(/[0-9]/)
            // console.log(val, cyr.test(val), lat.test(val),num.test(val))
            if(cyr.test(val) && num.test(val) && val.length>=8 ||lat.test(val) && num.test(val) && val.length>=8){
                this.password.status = true
            } else {
                this.password.status = false
            }
            if( this.password.value === this.checkPassword.value && this.password.status === true){
                this.checkPassword.status = true
            }
        },
        "checkPassword.value"(val){
            if( this.password.value === this.checkPassword.value && this.password.status === true){
                this.checkPassword.status = true
            }
        }
    }
}
</script>

<style scoped>
.btn-group{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px;
}
.auth-input{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
.auth-input:focus {
    outline: #107B7B;
}
.auth-btn{
    width: 150px;
    height: 40px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .12);
    border-radius: 32px;
    border: 1px solid transparent;
    background-color: #107B7B;
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
.auth-valid-msg{
    color:red;
    font-size: 11px;
    transition: 300ms;
}
.auth-select{
    width: 50%;
    height: 24px;
    border: 1px solid #107B7B;
    border-radius: 4px;
    font-size: 14px;
    color: black;
    outline: none;
    box-shadow: none;
}
</style>