<template>
  <div id="app" :style="'height:'+wHeight+'px'"> 
    <!-- <nav> -->
      <!-- <router-link to="/create">Home</router-link> -->
      <!-- <router-link to="/about">About</router-link> -->
    <!-- </nav> -->
    <Header v-if="$route.name!='login'" :wWidth="wWidth"  />
    <div :style="'height:'+(wHeight-70)+'px'">
      <router-view/>
    </div>
    
    <div class="loader-background" v-if="watchLoader">
      <div class="clock-loader"></div>
    </div>
    <div class="notifys" v-if="watchNotify">
      <Notify v-for="(notify,index) in $store.state.notify" :key="index" :item="notify" />
    </div>
  </div>
</template>
<script>
import Notify from './components/notify.vue'
import Header from './components/header.vue'
export default {
  components:{Header,Notify},
  data(){
    return {
      wHeight:'',
      wWidth:'',
    }
  },  
  created(){
    this.wHeight = document.documentElement.clientHeight
    this.$store.state.height = this.wHeight-70
    this.wWidth =  document.documentElement.clientWidth
  },
  computed:{
    watchLoader(){
      return this.$store.state.loader
    },
    watchNotify(){
      if(this.$store.state.notify[0]) {
        return true
      } else{
        return false
      }
    }
  }
}
</script>
<style>
.notifys{
  position: absolute;
  top:1%;
  right: 1%;
  width: 250px;
  min-height: 40px;
}
::-webkit-scrollbar {
    width: 6px;
    border: 1px solid white;
    background: #107B7B; 
    border-radius: 5px;
}
body{
  background-color: white;
  margin:0;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}
.loader-background{
  position: fixed;
  background-color: #48404079;
  top:0.1%;
  left: 0.1%;
  height: 100%;
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.clock-loader {
  --clock-color: #107B7B;
  --clock-width: 6rem;
  --clock-radius: calc(var(--clock-width) / 2);
  --clock-minute-length: calc(var(--clock-width) * 0.4);
  --clock-hour-length: calc(var(--clock-width) * 0.2);
  --clock-thickness: 0.2rem;

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--clock-width);
  height: var(--clock-width);
  border: 3px solid var(--clock-color);
  border-radius: 50%;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: calc(var(--clock-radius) * 0.25);
    width: var(--clock-thickness);
    background: var(--clock-color);
    border-radius: 10px;
    transform-origin: center calc(100% - calc(var(--clock-thickness) / 2));
    animation: spin infinite linear;
  }

  &::before {
    height: var(--clock-minute-length);
    animation-duration: 2s;
  }

  &::after {
    top: calc(var(--clock-radius) * 0.25 + var(--clock-hour-length));
    height: var(--clock-hour-length);
    animation-duration: 15s;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}
</style>
